@import "../../styles/variables";

.nameNow {
    padding-top: 32rpx;
    margin-bottom: 32rpx;
}

.input {
    background-color: white;
    padding: 20rpx;
    border-radius: 10rpx;
    margin-bottom: 40rpx;
}

.confirmBtn {
    margin-bottom: 32rpx;
}
