@import "../../../styles/variables";

.notebook {
    background-color: $color-gray-100;
    border-radius: 20rpx;
    padding: 20rpx;
    margin-bottom: 20rpx;

    &:active {
        background-color: $color-gray-200;
    }

    &-new {
        background-color: $color-green-100;
    }
}

.notebooks {
    margin-left: 20rpx;
}
