@import "../../styles/variables";

.workingBook {
    width: 90%;
    margin: 20rpx auto;
}

.book-card {
    display: flex;
    height: 260rpx;
    background-color: white;
    border-radius: 5px;
    padding: 10rpx 20rpx;
}

.book-card-image-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20rpx;
}

.book-card-image {
    width: 200rpx;
    height: 250rpx;
}

.book-title {
    margin-top: 10rpx;
    font-size: 40rpx;
}

.rightPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $space_4;
}

.progress {
    display: flex;
    gap: 30rpx;
    align-items: center;
}

.progressContent {
    display: flex;
    flex-direction: column;
    gap: 6rpx;
}

.progressLabel {
    color: $color-gray-500;
}
