@import "../../../styles/variables";

.book-card {
    display: flex;
    height: 260rpx;
    background-color: white;
    border-radius: 5px;
    padding: 10rpx 20rpx;
}

.book-card-image-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20rpx;
}

.book-card-image {
    width: 200rpx;
    height: 250rpx;
}

.book-title {
    margin-top: 10rpx;
    font-size: 40rpx;
}

.book-desc {
    font-size: 30rpx;
    color: $color-gray-500;
}

.rightPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $space_4;
}
