.categoryNav {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 5px;
}


.itemList {
    width: 100wh;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.categoryItem {
   background-color: #F2F2F2;
   border-radius: 30px;
   padding: 13px 35px;
}

.categoryItemSelected {
    background-color: #a7f3d0;
}

