.categoryNav {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 5rpx;
}


.itemList {
    width: 100wh;
    display: flex;
    justify-content: space-around;
    margin: 10rpx 0;
}

.categoryItem {
   background-color: #F2F2F2;
   border-radius: 30Px;
   padding: 13rpx 35rpx;
}

.categoryItemSelected {
    background-color: #a7f3d0;
}

