// font-size
$text-base-size: 16px;
$text-xs: $text-base-size * 0.75;
$text-sm: $text-base-size * 0.875;
$text-base: $text-base-size * 1;
$text-lg: $text-base-size * 1.125;
$text-xl: $text-base-size * 1.25;
$text-2xl: $text-base-size * 1.5;
$text-3xl: $text-base-size * 1.875;
$text-4xl: $text-base-size * 2.25;
$text-5xl: $text-base-size * 2.5;
