.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: all 0.2s ease-out;
}

.modal {
    position: fixed;
    bottom: 0;
    background-color: azure;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 50vh;
    max-height: 80vh;
    overflow: auto;
    width: calc(100% - 32px); // 需要减掉 padding
    z-index: 1001;
    border-radius: 50px;
}
