.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: all 0.2s ease-out;
}

.modal {
    position: fixed;
    bottom: 0;
    background-color: white;
    padding-top: 50rpx;
    padding-bottom: 50rpx;
    padding-left: 32rpx;
    padding-right: 32rpx;
    min-height: 50vh;
    max-height: 80vh;
    overflow: auto;
    width: calc(100% - 64rpx); // 需要减掉 padding
    z-index: 1001;
    border-radius: 16rpx 16rpx 0 0;
}

.closeWrapper {
    position: absolute;
    top: 10rpx;
    right: 10rpx;
    padding: 16rpx;
    z-index: 1002;
}
