.bookCard {
    padding-top: 16rpx;
}

.startPracticeButton {
    margin-top: 16rpx;
    margin-bottom: 16rpx;
}

.finishPracticeHintWrapper {
    margin-top: 16rpx;
    margin-bottom: 16rpx;
}

.finishPracticeHint {
    margin-bottom: 8rpx;
}

.bottomBox {
    height: 40rpx;
}
