@import "./styles/utility.scss";
@import "./styles/variables";

/* css rule for jp tip renderer elements */
.jp-tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed #999;
}

.jp-tip > span:hover:not(.jp-tip-content) {
    background-color: #dcfce7;
    padding: 0 3px;
}

.jp-tip .jp-tip-content {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.jp-tip:hover .jp-tip-content {
    visibility: visible;
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
}

/* css rule for jp renderer elements */
.jp-rich-text {
    /*
     下面两个属性很重要，能保证：
        1. 文字超出 box 宽度时，有换行
        2. 文本中的多个空格得到保留
    */
    white-space: pre-wrap;
    word-break: break-word;
}

.jp-paragraph {
    margin-bottom: 0.5em;
}

.jp-filler {
    padding: 0 30px;
    border-bottom: 1px solid #555;
}

.jp-bold {
    font-weight: bold;
}

.jp-underline {
    text-decoration: underline;
    display: inline-block; // 这个属性能够保证星星题有换行
}

/* css rule for common css */
.page {
    background-color: $color-gray-200;
    padding: 0 $page-x-padding;
    min-height: 100vh;
}

.full-width {
    width: 100vw;
    margin-left: -1 * $page-x-padding;
}

/* Button 
  - 重置部分 style
*/

Button {
    background-color: white;
    border-radius: 0;
    font-size: $text-base;
    line-height: $text-base;
    white-space: nowrap;
    text-decoration: none;

    &:after {
        border: 0;
    }
}

.btn {
    text-decoration: none;
    text-align: center;
    line-height: $text-4xl;
    border-radius: 10rpx;
}

.btn-lg {
    font-size: $text-lg;
    line-height: $text-5xl;
}

.btn-primary {
    background-color: $color-primary;
    border: 2rpx solid $color-primary;
    color: white;

    &:active {
        background-color: $color-green-700;
        border: 2rpx solid $color-green-700;
    }
}

.btn-primary--outline {
    border: 1px solid $color-primary;
    color: $color-primary;
    background-color: white;

    &:active {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        color: white;
    }
}

.btn-secondary {
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    color: white;

    &:active {
        background-color: $color-gray-700;
        border: 1px solid $color-gray-700;
    }
}

.btn-secondary--outline {
    border: 1px solid $color-secondary;
    color: $color-secondary;
    background-color: white;

    &:active {
        background-color: $color-secondary;
        border: px solid $color-secondary;
        color: white;
    }
}

.btn-danger {
    background-color: $color-red-500;
    border: 1px solid $color-red-500;
    color: white;

    &:active {
        background-color: $color-red-600;
        border: 1px solid $color-red-600;
    }
}

.btn-danger--outline {
    border: 1px solid $color-red-600;
    color: $color-red-600;
    background-color: white;

    &:active {
        background-color: $color-red-600;
        border: px solid $color-red-600;
        color: white;
    }
}

/* mask */

.mask {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
}

// skeleton
.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-text {
    height: 40rpx;
    margin-bottom: 16rpx;
    border-radius: 10rpx;
}
